{{> footer_resources}}

<script type="text/javascript">
    const percentageMercadoPago = "{{config.mercadopago.percentage}}";
</script>

<script src="{{config.sourcePath}}/js/admin/main.js"></script>

</body>
</html>
