<label class="header-top-phones">
	<a href="https://wa.me/5491130422258?text=Hola,%20necesito%20hacer%20una%20consulta." target="_blank">
		<img src="{{config.sourcePath}}/brands/{{brand}}/images/whatsapp.png" width="20" />
	</a>
	<a href="https://wa.me/5491130422258?text=Hola,%20necesito%20hacer%20una%20consulta." target="_blank">
		CONTACTANOS POR WHATSAPP
	</a>	
	<a href="https://wa.me/5491130422258?text=Hola,%20necesito%20hacer%20una%20consulta." target="_blank">
		<img src="{{config.sourcePath}}/brands/{{brand}}/images/whatsapp.png" width="20" />
	</a>
</label>
