<label class="header-top-phones">
	<a href="https://wa.me/5491158888423?text=Hola,%20necesito%20hacer%20una%20consulta." style="color: white;">
		155-888-8423
		<img src="{{config.sourcePath}}/brands/{{brand}}/images/whatsapp.png" width="20" />
	</a>
	PEDIDOS
	<a href="https://wa.me/5491157502313?text=Hola,%20necesito%20hacer%20una%20consulta." style="color: white;">
		<img src="{{config.sourcePath}}/brands/{{brand}}/images/whatsapp.png" width="20" />
		155-750-2312
	</a>
</label>