<html>
	<head>
		{{> header_resources}}
	</head>
	<body>
		<a href="{{config.metas.url_site}}">
			<img src="{{config.metas.og_image}}" alt="{{config.metas.title}}" class="logoIndexTemp"></a>
		
	</body>
</html>