<div class="modal fade" id="exampleModalWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="meli_financiacion"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" id="close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="img-brand col-md-4">
            <div class="img">
              <img id="meli_imagen" width="250" src="" alt="" title="" onerror="this.src='{{no_img}}'">
            </div>
            <div class="costo-financiero">
              <span id="meli_fecha"></span>
            </div>
            <div class="info-costo">
                <h4 id="meli_costo_leyenda"></h4>
                <h3 id="meli_costo"></h3>
            </div>
          </div>
          <div class="col-md-8">
            <p class="paragraph" id="meli_Legales"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>