{{> header_admin}}

<style type="text/css">
  .labelDocumentation{
    min-width: 180px;
  }
</style>

<section class="bgwhite p-t-66 p-b-60">

  <div class="container">
      <div class="row"> 
        <div class="col-md-12 table">
          
          <h3 class="p-b-50 p-t-30">Tarjetas de Prueba</h3>
          
          <div class="form-group">
            <label class="labelDocumentation">Visa</label>
            <label class="labelDocumentation">4509953566233704</label>
          </div>

          <div class="form-group">
            <label class="labelDocumentation">Mastercard</label>
            <label class="labelDocumentation">5031755734530604</label>
          </div>

          <div class="form-group">
            <label class="labelDocumentation">American Express</label>
            <label class="labelDocumentation">371180303257522</label>
          </div>

        </div>
      </div>

      <div class="row"> 
        <div class="col-md-12 table">
          
          <h3 class="p-b-50 p-t-30">Credenciales</h3>
          
          <div class="form-group">
            <label class="labelDocumentation">Email:</label>
            <label class="labelDocumentation">lgedeon@garbarino.com.ar</label>
            <label class="labelDocumentation">First Name:</label>
            <label class="labelDocumentation">mayfer</label>
            <label class="labelDocumentation">Last Name:</label>
            <label class="labelDocumentation">mayfer</label>
            <label class="labelDocumentation">Password:</label>
            <label class="labelDocumentation">Mayfer@2020</label>
            <label class="labelDocumentation">Cluster:</label>
            <label class="labelDocumentation">mayfer</label>
          </div>
        </div>
      </div>

  </div>
</section>


{{> footer_admin}}