{{> header}}


<section class="bgwhite p-t-66 p-b-60" style="min-height:500px;">
	<div class="container">
		<h3>Atención al Cliente</h3>
		<div class="row">
			<p class="boxLandings">
				Contactanos para averiguar el estado de tu compra, consultar por compras al por mayor o simplemente para contarnos lo que quieras haciendo <a href="{{config.sitePath}}/contacto" style="color:#303233">click aquí</a>
			</p>
		</div>
	</div>
</section>

{{> footer}}