{{> header}}


<section class="bgwhite p-t-66 p-b-60" style="min-height:500px;">
	<div class="container">
		<h3>Nosotros</h3>
		<div class="row">
			<img src="{{config.sourcePath}}/brands/{{brand}}/images/nosotros.png" style="width: 500px;text-align: center;margin: 0 auto;" />
			<p class="boxLandings">
				Somos un negocio familiar, que nos dedicamos a la fabricación de muebles, Sofa, Sillones, mesas, sillas y a la decoración . Hace  26 años que estamos en la zona.
 			<p class="boxLandings">
 				La atención y el asesoramiento personalizado son una parte primordial del servicio que le ofrecemos a nuestros clientes con el fin de cubrir sus necesidades cotidianas.
			</p>
			<p class="boxLandings">
				Nos especializamos en toda la línea de muebles para el hogar construidos en madera de guatambu , paraiso y roble, estacionado y seleccionado,  buscando la más alta calidad en nuestros productos , con una terminación poliuretanica dando un acabado perfecto.
			</p>
		</div>
	</div>
</section>

{{> footer}}