{{> header}}


<section class="bgwhite p-t-66 p-b-60" style="min-height:500px;">
	<div class="container">
		<h3>Envíos a Domicilio</h3>
		<div class="row">
			<p class="boxLandings">
				Tenemos los envíos distribuidos según tu zona o tu barrio. Si queres recibir tu pedido en algun momento en especial o bien no sabes que día vamos a tu zona, consultanos haciendo <a href="{{config.sitePath}}/contacto" style="color:#303233">click aquí</a>
			</p>
		</div>
	</div>
</section>

{{> footer}}