{{> header}}


<section class="bgwhite p-t-66 p-b-60" style="min-height:500px;">
	<div class="container">
		<h3 style="text-align: center;">Ups!</h3>
		<div class="row">
			<p style="text-align: center;width: 100%">Ha ocurrido un error</p>
			<p style="text-align: center;width: 100%">{{error}}</p>
		</div>
	</div>
</section>

{{> footer}}


