{{> header}}


<section class="bgwhite p-t-66 p-b-60" style="min-height:500px;">
	<div class="container">
		<h3>Medios de Pago</h3>
		<div class="row">
			<p class="boxLandings">
				Para que puedas abonar tus compras, tenemos para ofrecerte MercadoPago. Una herramienta en la que podrás acceder a promos bancarias y si tenes una cuenta con ellos, vas a poder abonar con la opción "Dinero en Cuenta". Accedé a más información haciendo <a href="https://www.mercadopago.com.ar/ayuda/medios-de-pago-cuotas-promociones_264" style="color:#303233" target="_blank">click aquí</a>
			</p>
		</div>
	</div>
</section>

{{> footer}}