{{> header}}
<div id="cart" data-cartid="{{cart._id}}" class="displaynone"></div>
	
	<section class="bgwhite p-t-66 p-b-60">
		<div class="container">
			
			<div style="width: 100%; text-align: center">MERCADOPAGO</div>
			
		</div>
	</section>

{{> footer}}